extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Yesenia Sosa Gonzalez 

        p Full Stack Software Developer 


        .about-bio

          p Hello! As an up-and-coming Software Engineer, I would like to welcome you to my portfolio! Here you can explore some of my past projects I have construsted for the Treehouse Full Stack JavaScript TechDegree. I am currently working as a Software Engineer Apprentice at Intuit, a wonderful opportunity partnered with AnitaB.org, with the mission to assist underrepresented women with finding their breakthrough into tech. 
          p I am also a part-time Data Analytics Captain for the non-profit organization, COOP. I facilitate workshops on professional development and teach foundational elements of SQL, Tableau, and Python to new grads seeking to overcome underemployment. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Terminal
          li OOP
          li HTTP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li SQL 
          li Python 
          li Tableau

        h6 Contact Info

        ul
          li 562-408-0621
          li gonzalez.yesenia0621@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/yeseniasosagonzalez/') LinkedIn
        a.btn-link(href='https://github.com/yeseniaSG21') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back