extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Yesenia Sosa Gonzalez 

        p Full Stack Software Developer 


        .about-bio

          h2 A little about Me:
          h6 
            li My cultural and first-generation background form the backbone to my passion for empowering women, educating underrepresented communities, advocating for mental health, and just uplifting community building.
          h6  
            li My newfound enthusiasm for software development blossomed from my background in the data analytics field. I constantly began wondering the why and how behind everything. I am very blessed to have the opportunity to expand my skills in software to keep building beautiful and intricate projects.
          h2 In my free time:
          h6  
            li I love exploring new hike trails to capture beautiful photographs.
          h6  
            li I am a huge coffee lover, so I am always on the search for new local coffee shops!
          h6  
            li I love going to concerts and music festivals to freely dance, where music serves as the universal language to all. 

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Terminal
          li OOP
          li HTTP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li SQL 
          li Python 
          li Tableau

        h6 Contact Info

        ul
          li 562-408-0621
          li gonzalez.yesenia0621@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/yeseniasosagonzalez/') LinkedIn
        a.btn-link(href='https://github.com/yeseniaSG21') GitHub