extends layout.pug 

block content  

    nav.nav
        a(href='/')
            span &larr;
            |  Back to Homepage
            h1= err.status 
            h2= err.message
    body
            img.error-img(src='/static/img/500img.png') 
            //-got image from https://storyset.com/illustration/500-internal-server-error/cuate