extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p Here are 5 of my past projects for the Treehouse Full Stack JavaScript TechDegree. Feel free to look through each project and reach out with any thoughts/questions. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5= project.project_name 

