extends layout.pug 

block content 

    nav.nav
        a(href='/') 
            span &larr;
            |  Back to Homepage 
            h1= err.status 
            h2= err.message 
    body
            img.error-img(src='/static/img/404robot.png') 
            //-got image from https://www.freepik.com
